---
import type { HTMLAttributes } from 'astro/types';

type Props = Omit<HTMLAttributes<'svg'>, 'fill' | 'stroke' | 'viewBox' | 'stroke-width' | 'stroke-linecap' | 'stroke-linejoin'>;
---

<svg {...Astro.props} fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><title>Mail Icon</title><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
