---
import type { CollectionEntry } from 'astro:content';
import { ALL_ICONS } from '@/utils'

type Props = {
  skills: CollectionEntry<'cv'>['data']['skills']
}

const { skills } = Astro.props
---

<ul class="inline-flex gap-2 flex-wrap">
  {
    skills.map(({ name }) => {
      // "Docker/Compose/Swarm" => gives "Docker"
      // "Next.js" => gives "Next"
      const iconName = name.split(/\W/)[0]
      const Icon = iconName && ALL_ICONS[iconName]

      return (
        <li class="items-center rounded-md flex gap-1 py-1 px-2 text-sm leading-none bg-primary-100 text-black">
          {Icon && <Icon.default width={16} />} <span>{name}</span>
        </li>
      )
    })
  }
</ul>
