---
type Props = {
  title?: string
  className?: string
}

const { title, className } = Astro.props
---

<section class:list={['mb-9 mx-auto md:mb-12 max-w-[700px]', className]}>
  {title && <h2 class="mb-3 font-bold text-2xl leading-6">{title}</h2>}
  <slot />
</section>
